@font-face {
  font-family: 'Shentox Regular';
  src: url('../fonts/Shentox_Regular.ttf');
}

#contacts {
  width: 100%;
  height: 1080px;
  background-image: url('../images/contacts_bg.png');
  background-position: left;
  background-size: cover;
}

#email {
  display: flex;
}

#email a {
  display: flex;
  border: 5px solid wheat;
  margin-left: 7.5%;
  margin-top: 5%;
  width: 30%;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color: black;
}

#email a:hover {
  background-color: blueviolet;
  cursor: pointer;
  text-decoration: none;
}

#email img {
  width: 80px;
  height: 80px;
  margin-left: 10%;
}

#email a span {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  width: 500px;
  height: 30px;
  margin-top: -2%;
  margin-left: 5%;
}

.call-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin-top: 3%;
  margin-left: 7.5%;

  font-family: 'Shentox Regular';
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.call-form-outer-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 550px;
  align-items: center;
  justify-content: space-around;
  border: 5px solid wheat;
  margin-left: 7.5%;
  margin-top: 1.5%;
}

#call-form-inner-container {
  display: flex;
  text-align: left;
  font-family: 'Shentox Regular';
  color: white;
  font-size: 30px;
  font-weight: bold;
}

label {
  display: flex;
  justify-content: left;
  margin-bottom: -6%;
  margin-left: -10%;
}

input {
  display: flex;
  justify-content: left;
  width: 120%;
  height: 50px;
  text-align: left;
  margin-left: -10%;

  font-size: 20px;
}

input[type='datetime-local']:hover {
  cursor: text;
}

#call-button {
  width: 70%;
  height: 50px;

  font-family: 'Shentox Regular';
  font-weight: bolder;
  font-size: 30px;

  background-color: #e27a76;
  color: #030c51;
  border-radius: 5px;
  border: none;
}

#call-button:hover {
  cursor: pointer;
  opacity: 70%;
}
