@font-face {
  font-family: 'SpaceAgecyrillic Regular';
  src: url('../fonts/Space_Agecyrillic_Regular.ttf');
}

.selection-menu {
  text-align: center;
}

#selection-menu-list {
  /* Работае только с flex */
  display: flex;
  flex-wrap: wrap; /* Если не влезает в контейнер - переносит на новую строку элементы */
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row-reverse; */ /* ревертит порядок в столбце */

  text-align: center;
  margin-left: 0;
  padding-left: 0;
  height: auto;
}

.selection-menu-list-element {
  /* Работае только с flex */
  display: flex;
  align-items: center;
  gap: 20px; /* Отступ между элементами внутри flex */

  list-style-type: none; /* убираем маркер */
  list-style-image: none;
  font-family: 'SpaceAgecyrillic Regular';
  color: #ffffff;
}

.selection-menu-list-element:last-of-type {
  padding-right: 0px;
}

#planet-one,
#planet-two,
#planet-three {
  position: relative; /* Приходится из-за flex */
  top: 10px;
  height: 60px;
  width: auto;
}

#selection-menu-about-ref,
#selection-menu-projects-ref,
#selection-menu-contacts-ref {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
  padding-bottom: 0;
}

#selection-menu-about-ref:hover,
#selection-menu-projects-ref:hover,
#selection-menu-contacts-ref:hover {
  color: blueviolet;
}
