#contacts {
  width: 100%;
  height: 1080px;
  background-image: url('../images/contacts_bg.png');
  background-position: left;
  background-size: cover;
}

#email {
  display: flex;
}

#email a {
  display: flex;
  border: 5px solid wheat;
  margin-left: 7.5%;
  margin-top: 100px;
  width: 30%;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color: black;
}

#email a:hover {
  background-color: blueviolet;
  cursor: pointer;
  text-decoration: none;
}

#email img {
  width: 100px;
  height: 100px;

  margin-left: -30%;
}

#email a span {
  display: flex;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  width: 80px;
  height: 30px;
  margin-top: -10%;
  margin-left: -30%;
}
