#contacts {
  width: 100%;
  height: 1080px;
  background-image: url('../images/contacts_bg.png');
  background-position: left;
  background-size: cover;
}

#email {
  margin-left: -70%;
  padding-top: 100px;
}
