@font-face {
  font-family: 'Shentox Regular';
  src: url('../fonts/Shentox_Regular.ttf');
}

#projects {
  width: 100%;
  height: 1080px;
  background-image: url('../images/projects_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Shentox Regular';
}

.projects-buttons-group {
  padding-top: 100px;
}

#project-buttons-list {
  display: flex;
  column-gap: 50px;
  row-gap: 30px;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.projects-button {
  font-size: 30px;
  margin-right: 3%;
  padding: 0.3% 1%;
  color: white;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

.projects-button:hover {
  color: blueviolet;
  border-color: blueviolet;
  animation: projects_buttons 6s linear infinite;
  cursor: pointer;
}

/* для тех элементов, у которых сразу два эти класса */
.projects-button.active {
  background: black;
  cursor: auto;
}

@keyframes projects_buttons {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#projects-main {
  display: flex;
  overflow: hidden;
  align-items: center;

  margin-top: 2.5%;
  width: auto;
  gap: 10%;
}

.project {
  flex-shrink: 0;

  background-color: black;
  width: 80%;
  height: 800px;
}

#telegram-bot-info {
  margin-left: 10%;
}

.project_title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 95%;
  height: 10%;
  background-color: white;
  margin: auto;
  margin-top: 2%;
}

.project_title p {
  font-size: 48px;
  padding-top: 1%;
}

.project_main_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1%;

  margin: auto;
  margin-top: 1%;
  width: 95%;
  height: 80%;
}

.project_description {
  display: flex;
  align-items: start;
  overflow: auto;
  width: 30%;
  height: 100%;
  background-color: white;
}

.project_description p {
  text-align: justify;
  padding: 3% 5%;
}

.project_photoes {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project_photoes#telegram-bot-photoes {
  background-image: url('../images/telegram-bot-photoes/0.png');
  background-size: 100% 100%;
}

.project_photoes#django-webstore-photoes {
  background-image: url('../images/telegram-bot-photoes/0.png');
  background-size: 100% 100%;
}

.project_photoes#fast-api-task-manager-photoes {
  background-image: url('../images/telegram-bot-photoes/0.png');
  background-size: 100% 100%;
}

.previous_photo,
.next_photo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
}

.previous_photo:hover,
.next_photo:hover {
  opacity: 50%;
  cursor: pointer;
}

.previous_photo_img,
.next_photo_img {
  width: 100%;
  height: 15%;

  /* Костыль по переключению фоток, надо исправить */
  padding: 27.5vh 0%;
}

.project_photoes_container {
  height: 100%;
  width: 80%;
  cursor: zoom-in;
}

.popup {
  width: 80%;
  height: 80%;
  background-color: black;
}

.active_popup {
  transition: all 0.3s ease-in;
  box-shadow: 0 0 0 10px #fff;
  filter: drop-shadow(1px 2px 6px #000);
  pointer-events: none;
}

.block_body {
  /* Блокируем все возможные действия (скролл, переходы, курсор и.т.д) */
  pointer-events: none;
}

.close_popup_button {
  position: relative;
  left: 100%;
  height: 20px;
  width: 20px;
  transform: translate(0%, -100%);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 2px 2px #000;
  font: bold 20px/20px Arial;
  text-align: center;
  background-color: #000;
  color: #fff;
  pointer-events: auto;
  cursor: pointer;
  transition: 1s linear;
}
