@font-face {
  font-family: 'Shentox Regular';
  src: url('../fonts/Shentox_Regular.ttf');
}

#projects {
  width: 100%;
  height: 1080px;
  background-image: url('../images/projects_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Shentox Regular';
}

.projects-buttons-group {
  padding-top: 100px;
}

#project-buttons-list {
  display: flex;
  column-gap: 50px;
  row-gap: 30px;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.projects-button {
  font-size: 30px;
  margin-right: 3%;
  padding: 0.3% 1%;
  color: white;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}

.projects-button:hover {
  color: blueviolet;
  border-color: blueviolet;
  animation: animate 6s linear infinite;
  cursor: pointer;
}

/* для тех элементов, у которых сразу два эти класса */
.projects-button.active {
  background: black;
  cursor: auto;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#projects-main {
  display: flex;
  overflow: hidden;
  align-items: center;

  margin-top: 2.5%;
  width: auto;
  gap: 10%;
}

.project {
  flex-shrink: 0;

  background-color: black;
  width: 80%;
  height: 800px;
}

#telegram-bot-info {
  margin-left: 10%;
}

.project_title {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 95%;
  height: 10%;
  background-color: white;
  margin: auto;
  margin-top: 2%;
}

.project_title p {
  font-size: 48px;
  padding-top: 1%;
}

.project_main_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1%;

  margin: auto;
  margin-top: 1%;
  width: 95%;
  height: 80%;
}

.project_description {
  display: flex;
  align-items: start;
  overflow: auto;
  width: 30%;
  height: 100%;
  background-color: white;
}

.project_description p {
  text-align: justify;
  padding: 3% 5%;
}

.project_photoes {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previous_photo,
.next_photo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
  background-color: white;
}

.previous_photo:hover,
.next_photo:hover {
  opacity: 80%;
  cursor: pointer;
}

.previous_photo_img,
.next_photo_img {
  width: 100%;
  height: 15%;
}

.project_photoes_container {
  height: 100%;
  width: 80%;
  background-color: white;
}
