@font-face {
  font-family: 'SpaceAgecyrillic Regular';
  src: url('../fonts/Space_Agecyrillic_Regular.ttf');
}

.selectionMenu {
  text-align: center;
}

#selectionMenuList {
  /* Работае только с flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  margin-left: 0;
  padding-left: 0;
  height: auto;
}

.selectionMenuListElement {
  /* Работае только с flex */
  display: flex;
  align-items: center;

  /* text-align: center; */
  /* margin-top: -15px; */
  list-style-type: none; /* убираем маркер */
  list-style-image: none;
  /* font-style: normal; */
  /* font-size: 25px; */
  /* text-align: center; */
  /* padding-right: 50px; */
  font-family: 'SpaceAgecyrillic Regular';
  color: #ffffff;
}

selectionMenuListElement:last-of-type {
  padding-right: 0px;
}

#planetOne,
#planetTwo,
#planetThree {
  /* position: absolute; */
  /* display: inline-block; */
  /* margin-top: 20px; */
  /* width: 62px;
  height: 60px; */

  height: 80px;
  width: auto;
}

/* #planetOne {
  left: 7%;
  right: 24%;
  top: -10%;
  bottom: 45%;
}

#planetTwo {
  left: 40%;
  right: 24%;
  top: -10%;
  bottom: 45%;
}

#planetThree {
  left: 70%;
  right: 24%;
  top: -10%;
  bottom: 45%;
} */

#selectionMenuAboutRef {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
}

#selectionMenuProjectsRef {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
}

#selectionMenuContactsRef {
  font-weight: 400;
  font-size: 46px;
  line-height: 46px;
}

#selectionMenuAboutRef:hover,
#selectionMenuProjectsRef:hover,
#selectionMenuContactsRef:hover {
  color: blueviolet;
}
