.socialMedia {
  /* Делаем отцентровку логотипов соц.сетей */
  display: flex;
  justify-content: center;
}

#socialMediaVkLogo,
#socialMediaGitHubLogo,
#socialMediaTelegramLogo {
  background-color: white;
  margin-right: 20px;
  float: left;
  position: relative;
}

#socialMediaVkLogo {
  height: 60px;
  width: 60px;
  margin-top: 13px;
}

#socialMediaVkLogo:hover {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-right: 10px; /* делаем, чтобы hover Вк не аффектило лого ГИТхаба (бывший margin - изменения height) */
}

#socialMediaGitHubLogo {
  margin-top: 25px;
  height: 40px;
  width: 40px;
}

#socialMediaGitHubLogo:hover {
  width: 45px;
  height: 45px;
  margin-top: 20px;
  margin-right: 15px; /* По аналогии с ВК */
}

#socialMediaTelegramLogo {
  margin-top: 17px;
  height: 55px;
  width: 55px;
}

#socialMediaTelegramLogo:hover {
  width: 65px;
  height: 65px;
  margin-top: 12px;
  margin-right: 10px; /* По аналогии с ВК */
}

#socialMediaVkLogo:hover,
#socialMediaGitHubLogo:hover,
#socialMediaTelegramLogo:hover {
  background-color: blueviolet;
}
