.social-media {
  /* Делаем отцентровку логотипов соц.сетей */
  display: flex;
  justify-content: center;
}

#social-media-vk-logo,
#social-media-git-hub-logo,
#social-media-telegram-logo {
  background-color: none;
  margin-right: 20px;
  float: left;
  position: relative;
}

#social-media-vk-logo {
  height: 60px;
  width: 60px;
  margin-top: 13px;
}

#social-media-vk-logo:hover {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-right: 10px; /* делаем, чтобы hover Вк не аффектило лого ГИТхаба (бывший margin - изменения height) */
}

#social-media-git-hub-logo {
  height: 45px;
  width: 45px;
  margin-top: 20px;
}

#social-media-git-hub-logo:hover {
  width: 55px;
  height: 55px;
  margin-top: 15px;
  margin-right: 10px; /* По аналогии с ВК */
}

#social-media-telegram-logo {
  margin-left: 8px;
  margin-top: 22px;
  height: 43px;
  width: 43px;
}

#social-media-telegram-logo:hover {
  width: 52px;
  height: 52px;
  margin-top: 18px;
  margin-right: 9px; /* По аналогии с ВК */
  margin-left: 10px;
}
