<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khorkov Dmitriy" />
    <meta name="description" content="Personal webpage of Khorkov Dmitriy" />
    <meta name="keywords" content="python developer, fullstack developer" />
    <title>Khorkov Dmitriy</title>

    <!-- CSS links -->
    <link rel="stylesheet" href="../static/basics.css" />
    <link rel="stylesheet" href="../static/header_and_footer.css" />
    <link rel="stylesheet" href="../static/hrefs.css" />
    <link rel="stylesheet" href="../static/selection_menu.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <link rel="stylesheet" href="../static/social_media.css" />
    <link rel="stylesheet" href="../static/projects.css" />
    <link rel="stylesheet" href="../static/contacts.css" />
  </head>
  <body>
    <header>
      <div class="selection-menu">
        <ul id="selection-menu-list">
          <li class="selection-menu-list-element">
            <img src="../images/Planet1.png" alt="Planet1" id="planet-one" />
            <a href="#about" id="selection-menu-about-ref">Обо мне</a>
          </li>
          <li class="selection-menu-list-element">
            <img src="../images/Planet2.png" alt="Planet2" id="planet-two" />
            <a href="#projects" id="selection-menu-projects-ref">Проекты</a>
          </li>
          <li class="selection-menu-list-element">
            <img src="../images/Planet3.png" alt="Planet3" id="planet-three" />
            <a href="#contacts" id="selection-menu-contacts-ref">Контакты</a>
          </li>
        </ul>
      </div>
    </header>

    <div id="about">
      <div class="about-header">
        <h1 class="about-intro">Привет! Меня зовут Дима, <br />и я Python Developer!</h1>
        <img src="../images/about_avatar.jpg" alt="Avatar of Khorkov Dmitriy" class="about-avatar" />
      </div>
      <div class="about-description">
        <h1 id="characteristics">Developer</h1>
        <h1>Обо мне:</h1>
        <h3 id="about-info-text"></h3>
      </div>
      <div class="about-skills">
        <h1>Что я умею:</h1>
        <ul id="skills-list">
          <li class="skills-list-element">Создавать телеграмм ботов</li>
          <li class="skills-list-element">
            Создавать WEB-приложения на основе таких фреймворков как Django и FastApi + HTML, CSS, JavaScript
          </li>
          <li class="skills-list-element">Создавать REST-api (предпочитаю тот же FastApi под капотом)</li>
          <li class="skills-list-element">
            Работать SQL и NOSQL СУБД: PostgreSQL, MySQL, SQLite, MongoDB (предпочитаю через SQLAlchemy)
          </li>
          <li class="skills-list-element">Изолировать систему через Docker</li>
          <li class="skills-list-element">
            Работать с сокетами (строил консольную и UI игру по локальной сети на основе Socket и Tkinker библиотек)
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="divider"></div> -->

    <div id="projects">
      <div class="projects-buttons-group">
        <ul id="project-buttons-list">
          <li><button class="projects-button active" type="button">PlantsCareBot</button></li>
          <li><button class="projects-button" type="button">NataliaToys</button></li>
          <li><button class="projects-button" type="button">TaskManager</button></li>
        </ul>
      </div>

      <div id="projects-main">
        <div class="project" id="telegram-bot-info">
          <div class="project_title">
            <p>Plants Care Telegram Bot</p>
          </div>

          <div class="project_main_part">
            <div class="project_description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iure veniam magni saepe velit
                fugit aliquid necessitatibus earum blanditiis qui est dolore eveniet modi non sapiente reiciendis et,
                minus pariatur vero ratione iusto? Architecto cupiditate facilis, obcaecati perspiciatis blanditiis
                itaque minus qui quaerat laboriosam omnis voluptate porro praesentium error doloremque cumque
                perferendis aperiam atque? Est dolorum ab nulla ipsum rem, voluptatum, dolores earum velit adipisci
                temporibus labore. Id iure nobis quas quaerat, pariatur autem omnis impedit rerum dolorem quisquam modi
                delectus voluptate cumque assumenda numquam neque reiciendis voluptas aliquid vel? Corporis nihil
                tenetur ut magni unde beatae eos mollitia vitae?
              </p>
            </div>

            <div class="project_photoes" id="telegram-bot-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>
              <!-- <div class="project_photoes_container"></div> -->
              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>

        <div class="project" id="django-webstore-info">
          <div class="project_title">
            <p>Natalia Toys Webstore</p>
          </div>

          <div class="project_main_part">
            <div class="project_description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi repudiandae vel quasi harum magni
                laudantium quos dolor, molestiae quae ratione tempora quas! Quam facilis architecto consectetur rerum.
                Eligendi ipsum nulla magni dolore itaque soluta ducimus porro quidem in voluptatibus, necessitatibus eos
                possimus similique quae voluptate animi assumenda nostrum voluptates suscipit veniam numquam quia.
                Nihil, doloribus. Non illo maiores voluptatem blanditiis ullam mollitia ducimus corrupti consequatur rem
                dolores. Provident explicabo ab porro pariatur doloribus deleniti. Sequi distinctio at velit libero
                ratione?
              </p>
            </div>

            <div class="project_photoes" id="django-webstore-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>

              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>

        <div class="project" id="fast-api-task-manager-info">
          <div class="project_title">
            <p>Task Manager</p>
          </div>
          <div class="project_main_part">
            <div class="project_description">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem, qui delectus? Ab amet, officia architecto
                mollitia pariatur delectus aliquam. Veritatis ut dolore corrupti fugit, nemo accusamus. Possimus, ad
                eligendi optio labore inventore quia dolore aperiam neque veritatis maiores iste provident tempore
                ipsum? Similique possimus, sequi eveniet odit nulla facilis hic, repellendus aliquam cupiditate dolorum
                commodi inventore? Odit, commodi eius? Deserunt harum nisi adipisci vero? Doloremque illo facere vitae
                harum rerum impedit pariatur tempore officia! Sequi explicabo, perferendis rem recusandae veritatis
                fugiat assumenda praesentium architecto soluta nobis labore beatae fugit nihil!
              </p>
            </div>

            <div class="project_photoes" id="fast-api-task-manager-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>

              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contacts">
      <div id="email">
        <a href="mailto:alexqwerty35@yandex.ru">alexqwerty35@yandex.ru</a>
      </div>
    </div>

    <footer>
      <div class="social-media">
        <div id="social-media-vk">
          <a href="https://vk.com/alexqwerty35" target="_blank">
            <img id="social-media-vk-logo" src="../images/vk_logo.png" alt="vk.com" />
          </a>
        </div>
        <div id="social-media-git-hub">
          <a href="https://github.com/DKhorkov" target="_blank">
            <img id="social-media-git-hub-logo" src="../images/github_logo.png" alt="github.com" />
          </a>
        </div>
        <div id="social-media-telegram">
          <a href="https://t.me/D3M0S666" target="_blank">
            <img id="social-media-telegram-logo" src="../images/telegram_logo.svg" alt="github.com" />
          </a>
        </div>
      </div>
    </footer>

    <script type="module" src="../scripts/main.js"></script>
  </body>
</html>
