<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khorkov Dmitriy" />
    <meta name="description" content="Personal webpage of Khorkov Dmitriy" />
    <meta name="keywords" content="python developer, fullstack developer" />
    <title>Khorkov Dmitriy</title>
    <link rel="stylesheet" href="../static/basics.css" />
    <link rel="stylesheet" href="../static/footer.css" />
    <link rel="stylesheet" href="../static/hrefs.css" />
    <link rel="stylesheet" href="../static/selection_menu.css" />
  </head>
  <body>
    <header>
      <div class="selectionMenu">
        <ul>
          <li><a href="#projects">Проекты</a></li>
          <li><a href="#about">Обо мне</a></li>
          <li><a href="#contacts">Контакты</a></li>
        </ul>
      </div>
    </header>

    <main>
      <div class="project"></div>
    </main>

    <footer>
      <div class="socialMedia">
        <a href="https://vk.com/alexqwerty35" target="_blank">
          <img src="../images/vk_logo.png" alt="" />
        </a>
      </div>
    </footer>
  </body>
</html>
