<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Khorkov Dmitriy" />
    <meta name="description" content="Personal webpage of Khorkov Dmitriy" />
    <meta name="keywords" content="python developer, fullstack developer" />
    <title>Khorkov Dmitriy</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../images/favicon.png" />

    <!-- CSS links -->
    <link rel="stylesheet" href="../static/basics.css" />
    <link rel="stylesheet" href="../static/header_and_footer.css" />
    <link rel="stylesheet" href="../static/hrefs.css" />
    <link rel="stylesheet" href="../static/selection_menu.css" />
    <link rel="stylesheet" href="../static/about.css" />
    <link rel="stylesheet" href="../static/social_media.css" />
    <link rel="stylesheet" href="../static/projects.css" />
    <link rel="stylesheet" href="../static/contacts.css" />
  </head>
  <body>
    <header>
      <div class="selection-menu">
        <ul id="selection-menu-list">
          <li class="selection-menu-list-element">
            <img src="../images/Planet1.png" alt="Planet1" id="planet-one" />
            <a href="#about" id="selection-menu-about-ref">Обо мне</a>
          </li>
          <li class="selection-menu-list-element">
            <img src="../images/Planet2.png" alt="Planet2" id="planet-two" />
            <a href="#projects" id="selection-menu-projects-ref">Проекты</a>
          </li>
          <li class="selection-menu-list-element">
            <img src="../images/Planet3.png" alt="Planet3" id="planet-three" />
            <a href="#contacts" id="selection-menu-contacts-ref">Контакты</a>
          </li>
        </ul>
      </div>
    </header>

    <div id="about">
      <div class="about-header">
        <h1 class="about-intro">Привет! Меня зовут Дима, <br />и я Python Developer!</h1>
        <img src="../images/about_avatar.jpg" alt="Avatar of Khorkov Dmitriy" class="about-avatar" />
        <h1 id="characteristics">Developer</h1>
      </div>
      <div class="about-description">
        <h1>Обо мне:</h1>
        <h3 id="about-info-text"></h3>
      </div>
      <div class="about-skills">
        <h1>Что я умею:</h1>
        <ul id="skills-list">
          <li class="skills-list-element">Создавать телеграмм ботов</li>
          <li class="skills-list-element">Создавать микро-сервисную систему с Apache Kafka и RabbitMQ под капотом</li>
          <li class="skills-list-element">
            Создавать WEB-приложения на основе таких фреймворков как Django и FastApi + HTML, CSS, JavaScript
          </li>
          <li class="skills-list-element">Создавать REST-api (предпочитаю тот же FastApi под капотом)</li>
          <li class="skills-list-element">
            Работать SQL и NOSQL СУБД: PostgreSQL, MySQL, SQLite, MongoDB (предпочитаю через SQLAlchemy)
          </li>
          <li class="skills-list-element">Изолировать систему через Docker</li>
          <li class="skills-list-element">
            Работать с сокетами (строил консольную и UI игру по локальной сети на основе Socket и Tkinker библиотек)
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="divider"></div> -->

    <div id="projects">
      <div class="projects-buttons-group">
        <ul id="project-buttons-list">
          <li><button class="projects-button active" type="button">PlantsCareBot</button></li>
          <li><button class="projects-button" type="button">NataliaToys</button></li>
          <li><button class="projects-button" type="button">TaskManager</button></li>
          <li><button class="projects-button" type="button">GuessTheNumber</button></li>
          <li><button class="projects-button" type="button">FlappyBird</button></li>
        </ul>
      </div>

      <div id="projects-main">
        <div class="project" id="telegram-bot-info">
          <div class="project_title">
            <p>Plants Care Telegram Bot</p>
          </div>

          <div class="project_description">
            <p>
              Plants Care Telegram Bot - это телеграм бот, созданный для ухода и заботы о наших зеленых друзьях:
              растениях :) На данный момент в боте реализована функция отслеживания полива, но в дальнейшем может быть
              добавлены функция для мониторинга необзодимости удобрения или пересадки. Текущий тех позволяет создавать
              сценарий полива, который объединяет растения по группе, давать описание этому сценарию, интервал полива,
              указывать дату последнего полива. А уже далее можно добавить цветок в созданный ранее сценарий, указав
              название растения, дополнительное описание, а также прикрепить фото. Как сценарии полива, так и данные о
              самих растениях можно удалять и редактировать.
            </p>
          </div>

          <div class="project_main_part">
            <div class="project_stack">
              <div class="project_stack_intro">
                <p>Технологии, использованные при создании проекта:</p>
              </div>
              <ul>
                <li>PyTelegramBotAPI</li>
                <li>SQLAlchemy</li>
                <li>Docker Compose</li>
                <li>SQLite</li>
                <li>Telebot-Calendar</li>
                <li>Requests</li>
              </ul>
            </div>

            <div class="project_photoes" id="telegram-bot-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>

              <div class="project_photoes_container"></div>

              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>

        <div class="project" id="django-webstore-info">
          <div class="project_title">
            <p>Natalia Toys Webstore</p>
          </div>

          <div class="project_description">
            <p>
              Natalia Toys Webstore - это полноценный небольшой интернет магазин (backend часть) для продажи плюшевых
              игрушек авторской ручной работы. Данный магазин написан на Django-framework, имеет каталог, корзину,
              функцию оплаты (тестовой) через Яндекс-кассу, личный кабинет, историю заказов. Регистрация производится с
              помощью emailи переходу по подтверждающей ссылке либо через соцсети: Вконтакте или Гугл. При оформлении
              заказа он сохраняется в список заказов полььзователя, где также есть информация о том, олпачен заказ или
              нет. После оплаты заказа пользователю отправляется чек, а владельцу (или потенциальному отправщику от его
              имени) приходит на почту сообщение о том, что определенынй пользователь (с указанием адреса и контактов)
              купил игрушку/игрушки в n-ном количестве и ждет их получения.
            </p>
          </div>

          <div class="project_main_part">
            <div class="project_stack">
              <div class="project_stack_intro">
                <p>Технологии, использованные при создании проекта:</p>
              </div>
              <ul>
                <li>Django</li>
                <li>Yookassa</li>
                <li>SQLite</li>
                <li>HTML</li>
                <li>Jinja2</li>
                <li>CSS</li>
              </ul>
            </div>

            <div class="project_photoes" id="django-webstore-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>

              <div class="project_photoes_container"></div>

              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>

        <div class="project" id="fast-api-task-manager-info">
          <div class="project_title">
            <p>Task Manager</p>
          </div>

          <div class="project_description">
            <p>
              Task Manager - это веб-приложение для создания и отслеживания любых задач. Данное веб-приложение было
              написано на современном асинхронном фреймворке FastApi. Задачи можно создавать, менять их статус
              (открывать, закрывать, переоткрывать) и удалять. Регистрация производится по email и паролю: Если
              пользователь зарегистрирован, идет проверка валидности введенного пароля (происходит хэширование пароля и
              сравнение с хэшом в базе данных, созданным в момент регистрации). Если пароль валидный, то создается токен
              для данного юзера, сохраняется в БД и добавляется в cookies ответа RedirectResponse, который
              перенаправляет пользователя на страницу с его задачами. Срок жизни токена 2 недели.
            </p>
          </div>

          <div class="project_main_part">
            <div class="project_stack">
              <div class="project_stack_intro">
                <p>Технологии, использованные при создании проекта:</p>
              </div>
              <ul>
                <li>FastApi</li>
                <li>Cookies</li>
                <li>Async SQLAlchemy</li>
                <li>PyTest</li>
                <li>SQLite</li>
                <li>Hashlib</li>
                <li>Logging</li>
                <li>Pydantic</li>
                <li>HTML</li>
                <li>Jinja2</li>
                <li>CSS</li>
              </ul>
            </div>

            <div class="project_photoes" id="fast-api-task-manager-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>

              <div class="project_photoes_container"></div>

              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>

        <div class="project" id="guess-the-number-info">
          <div class="project_title">
            <p>Guess The Number Game</p>
          </div>

          <div class="project_description">
            <p>
              Guess The Number Game - это игра для двоих по локальной сети, где первый игрок загадывает число в
              определенном диапазоне, а второй пытается его отгадать в рамках заданного количества попыток. По окончании
              раунда (когда закончились попытки или было угано число), происходит изменение счета, его вывод для игроков
              и смена позиций (первый игрок становится вторым, а второй первым). Данная игра имеет как консольную
              версию, так и версию с GUI. Во второй, которая является основной, на старте можно либо создать сервер (с
              указанием адреса и порта для создания, а также с диапазоном числа и количеством попыток на то, чтобы его
              угадать), либо подключиться к нему. При подключении создается игровое чат-окно, в котором юзеры и
              взаимодействуют друг с другом.
            </p>
          </div>

          <div class="project_main_part">
            <div class="project_stack">
              <div class="project_stack_intro">
                <p>Технологии, использованные при создании проекта:</p>
              </div>
              <ul>
                <li>Socket</li>
                <li>Tkinker</li>
                <li>Pickle</li>
              </ul>
            </div>

            <div class="project_photoes" id="guess-the-number-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>

              <div class="project_photoes_container"></div>

              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>

        <div class="project" id="flappy-bird-info">
          <div class="project_title">
            <p>Flappy Bird Game</p>
          </div>

          <div class="project_description">
            <p>
              Flappy Bird Game - это всем известная мобильная игра, переписанная на компьютер с помощью библиотеки
              PyGame. Главной особенностью данного "ремейка" является предварительный графический интерфейс, в котором
              можно установить количество жизней, цвета, уровень сложности, музыку, под котороую пользователь хочет
              играть, а также размер непосредственного окна с игрой. Еще одной особенностью является персональный рекорд
              и предыдущие конфигурации: пользователь всегда соревнуется с собой на том же уровне сложности и с тем же
              количеством жизней.
            </p>
          </div>

          <div class="project_main_part">
            <div class="project_stack">
              <div class="project_stack_intro">
                <p>Технологии, использованные при создании проекта:</p>
              </div>
              <ul>
                <li>PyGame</li>
                <li>Pillow</li>
                <li>Tkinker</li>
                <li>SQLite</li>
                <li>Pickle</li>
              </ul>
            </div>

            <div class="project_photoes" id="flappy-bird-photoes">
              <div class="previous_photo" title="previous photo">
                <img src="../images/previous_photo_image.png" class="previous_photo_img" />
              </div>

              <div class="project_photoes_container"></div>

              <div class="next_photo" title="next photo">
                <img src="../images/next_photo_image.png" class="next_photo_img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contacts">
      <div id="email">
        <a href="mailto:alexqwerty35@yandex.ru">
          <img src="../images/email.svg" alt="email" />
          <span>Связаться по почте</span>
        </a>
      </div>
      <div class="call-description">
        <span>Оставить заявку для звонка:</span>
      </div>
      <div class="call-form-outer-container">
        <div id="call-form-inner-container">
          <form id="call-form">
            <label for="name">Ваше имя:</label><br />
            <input
              type="text"
              placeholder="Даниил"
              name="person_name"
              minlength="2"
              maxlength="40"
              data-validation="Пожалуйста, введите имя от 2 до 40 символов!"
              required
            /><br />
            <label for="name">Телефон для связи:</label><br />
            <input
              type="tel"
              placeholder="8-9XX-XXX-XX-XX"
              name="phone_number"
              pattern="[7|8]-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
              minlength="15"
              maxlength="15"
              data-validation="Пожалуйста, введите телефон для звонка в формате 8-9XX-XXX-XX-XX!"
              required
            /><br />
            <label for="date">Желаемая дата для звонка:</label><br />
            <input
              type="datetime-local"
              placeholder="22.12.2023 15:50"
              name="date_for_call"
              data-validation="Пожалуйста, введите удобную дату и время для звонка!"
              required
            /><br />
            <button type="submit" id="call-button">Отправить</button>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div class="social-media">
        <div id="social-media-vk">
          <a href="https://vk.com/alexqwerty35" target="_blank" title="VK Profile">
            <img id="social-media-vk-logo" src="../images/vk_logo.svg" alt="vk.com" />
          </a>
        </div>
        <div id="social-media-git-hub">
          <a href="https://github.com/DKhorkov" target="_blank" title="GitHub Profile">
            <img id="social-media-git-hub-logo" src="../images/github_logo.svg" alt="github.com" />
          </a>
        </div>
        <div id="social-media-telegram">
          <a href="https://t.me/D3M0S666" target="_blank" title="Telegram Profile">
            <img id="social-media-telegram-logo" src="../images/telegram_logo.svg" alt="github.com" />
          </a>
        </div>
      </div>
    </footer>

    <script type="module" src="../scripts/main.js"></script>
  </body>
</html>
